body {
    background-color:lightgray;
    font-family:"Papyrus", fantasy;
}

h1 {
    text-align:center;
    border:4px solid black;
}

h2 {
    color:purple;
}

input {
    border:5px solid darkblue;
}

.red {
    color:red;
}

.feedback {
    border:5px solid gray;
    width:800px;
    height:400px;
}